body {
    background: #ececec;
    margin: 0px;
    font-size: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /*background: #abbaab;*/
    background-image: url("https://static.vecteezy.com/system/resources/previews/003/763/349/original/futuristic-digital-room-grey-black-background-with-white-grid-space-line-color-surface-vector.jpg");
    background-repeat: no-repeat;
    background-size: 150%;
    /*-webkit-linear-gradient(to top, #f7f7f7, #dfe3ee);*
    background: linear-gradient(to top, #f7f7f7, rgb(223,227,238));*/
    }

#content {
height: 0h;
margin: 10% ;
}


a {
color: #fff;
text-transform: uppercase;
}

#horz-list ul {
margin: 0;
padding: 0;
list-style-type: none;
text-align: center;
top: 10px;
border-radius: 750px;
}

#horz-list ul li {
display: inline;
margin: 10px;
}

#horz-list ul li a {
text-decoration: none;
padding: 0.2em 1.1em;
margin: 0 0 0 -6px;
border-radius: 750px;
background-color: black;
box-shadow: 0 0 5px whitesmoke, 0 0 25px whitesmoke;
}

#horz-list ul li:last-child a {
border-radius: 750px;
}

#horz-list ul li a:hover {
background: white;
color: black;
}

#horz-list ul li .active{
    box-shadow: 0 0 5px whitesmoke, 0 0 25px whitesmoke, 0 0 50px whitesmoke, 0 0 100px whitesmoke, 0 0 200px whitesmoke;
    border-radius: 750px;
}

.w3-animate-left {
    position: relative;
    animation: animateleft 1.5s;
    padding: 0px;
}

.w3-animate-bottom {
    position: relative;
    animation: animatebottom 1.5s;
    padding: 0px;
}

.dummy img{
    width: 350px;
    height: 350px;
    bottom: 350px;
    left: 750px;
    position: relative;
    border-radius: 50%;
    border: white 5px;
    box-shadow: 0 0 5px whitesmoke, 0 0 25px whitesmoke;
    animation: bounce 2s infinite alternate;
}

@keyframes bounce {
    to { transform: scale(1.02); }
}


.w3-animate-right {
    animation: animateright 1.5s;
    padding: 0px;
}

h1{
    text-align: center;
    display: block;
    color: black;
    font-size: 50px;
    text-decoration: none;
    width: 30%;
    background-color: white;
    border-radius: 500px;
    box-shadow: 0 0 5px whitesmoke, 0 0 25px whitesmoke;
}

p {
    width: 50%;
    background-color:black;
    font-size: 20px;
    display: block;
    justify-content: space-around;
    position: relative;
    border-radius: 50px;
    padding: 50px;
    color: white;
    box-shadow: 0 0 5px whitesmoke, 0 0 25px whitesmoke;
}


/*
.blockPassion ul li a{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
    top: 10px;
    border-radius: 750px;
    text-align: center;
    display: incline;
    position: relative;
    color: rgb(59,89,152);
    font-size: 50px;
    text-decoration: none;
}*/

/*
.headInfo{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    justify-content: center;
    position: relative;
}
*/
.dummy {
    display: block;
    padding-top: 150px;
    padding-left: 100px;
    padding-right: 100px;
    justify-content: space-around;
    /*align-items: center;*/
    box-shadow: 0 0 5px whitesmoke, 0 0 25px whitesmoke, 0 0 50px whitesmoke, 0 0 100px whitesmoke, 0 0 200px whitesmoke;
}

/*
.dummy button .linkedin{
    width: 50px;
    height: 50px;
}

.dummy */button /*.download*/{
    border-radius: 500px;
    color: rgb(234, 211, 215);
    border: white 5px;
    padding: 10px;
    background-color: rgb(0, 0, 0);
    box-shadow: 0 0 5px whitesmoke, 0 0 25px whitesmoke;
    position: relative;
    bottom: 665px;
    left: 390px;
    animation: bounce 1s infinite alternate;
}

@keyframes bounce {
  to { transform: scale(1.05); }
}

button:hover {
    background:rgb(234, 211, 215);
    color: black;
    box-shadow: 0 0 5px rgb(234, 211, 215), 0 0 25pxrgb(234, 211, 215), 0 0 50px rgb(234, 211, 215), 0 0 100px rgb(234, 211, 215), 0 0 200px rgb(234, 211, 215);
}


/*
body .headInfo {
    background: rgb(223,227,238);
    font-size: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: incline;  
    width: 1000px;
}

*/

/*
.test {
    display: flex;
    justify-content: center;
    flex-direction: row;
}
*/
/*
<div class="test">
            <ul class="blockPassion">
                <li>About me</li>
                <li>passion</li>
                <li>blog</li>
                <li>future</li>  
                <li>connect</li>

<img class = "w3-container w3-center w3-animate-bottom" src = "IMG_7873.jpg">
            <img class = "w3-container w3-center w3-animate-bottom" src = "IMG_7873.jpg">
            <img class = "w3-container w3-center w3-animate-bottom" src = "IMG_7873.jpg">
            <img class = "w3-container w3-center w3-animate-bottom" src = "IMG_7873.jpg">  
            <img class = "w3-container w3-center w3-animate-bottom" src = "IMG_7873.jpg">                
                
    */