body {
    background: #ececec;
    margin: 0px;
    font-size: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /*background: #abbaab;*/
    background-image: url("Untitled\ 6.png");
    background-repeat: no-repeat;
    background-size: cover;
    /*-webkit-linear-gradient(to top, #f7f7f7, #dfe3ee);*
    background: linear-gradient(to top, #f7f7f7, rgb(223,227,238));*/
    }

#content {
height: 0h;
margin: 10vh auto;
}


a {
color: #fff;
text-transform: uppercase;
}

#horz-list ul {
margin: 0;
padding: 0;
list-style-type: none;
text-align: center;
top: 10px;
border-radius: 750px;
}

#horz-list ul li {
display: inline;
margin: 10px;
}

#horz-list ul li a {
text-decoration: none;
padding: 0.2em 1.1em;
margin: 0 0 0 -6px;
border-radius: 750px;
background-color: black;
box-shadow: 0 0 5px rgb(174, 239, 255),0 0 25px rgb(174, 239, 255);
}

#horz-list ul li:last-child a {
border-radius: 750px;
}

#horz-list ul li a:hover {
background: white;
color: black;
}

#horz-list ul li .active{
    box-shadow: 0 0 5px rgb(174, 239, 255), 0 0 25px whitesmoke, 0 0 50px rgb(174, 239, 255), 0 0 100px whitesmoke, 0 0 200px rgb(174, 239, 255);
    border-radius: 750px;
}

/*
.w3-animate-left {
    position: relative;
    animation: animateleft 1.5s;
    padding: 0px;
}

.w3-animate-bottom {
    position: relative;
    animation: animatebottom 1.5s;
    padding: 0px;
}

img{
    width: 350px;
    height: 350px;
    bottom: 350px;
    left: 750px;
    position: relative;
    border-radius: 50%;
    border: white 5px;
    padding: 10px;
    box-shadow: 0 0 5px whitesmoke, 0 0 25px whitesmoke;
}

.w3-animate-right {
    animation: animateright 1.5s;
    padding: 0px;
}
*/
/*
h1{
    text-align: center;
    display: block;
    color: black;
    font-size: 50px;
    text-decoration: none;
    width: 45%;
    background-color: white;
    border-radius: 500px;
    box-shadow: 0 0 5px whitesmoke, 0 0 25px whitesmoke;
    margin-left: 100px;
    margin-top: 50px;
    margin-bottom: 35px;
}

p {
    width: 50%;
    background-color:black;
    font-size: 20px;
    display: block;
    justify-content: space-around;
    position: relative;
    border-radius: 50px;
    padding: 50px;
    color: white;
    box-shadow: 0 0 5px whitesmoke, 0 0 25px whitesmoke;
    margin-left: 100px;
}
*/
/*
.blockPassion ul li a{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
    top: 10px;
    border-radius: 750px;
    text-align: center;
    display: incline;
    position: relative;
    color: rgb(59,89,152);
    font-size: 50px;
    text-decoration: none;
}*/

/*
.headInfo{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    justify-content: center;
    position: relative;
}
*/
/*
button {
    border-radius: 500px;
    color: rgb(234, 211, 215);
    border: white 5px;
    padding: 10px;
    background-color: rgb(0, 0, 0);
    box-shadow: 0 0 5px whitesmoke, 0 0 25px whitesmoke;
    position: relative;
    bottom: 465px;
    left: 30px;
    animation: bounce 1s infinite alternate;
}

@keyframes bounce {
  to { transform: scale(1.05); }
}

button:hover {
    background:rgb(234, 211, 215);
    color: black;
    box-shadow: 0 0 5px rgb(234, 211, 215), 0 0 25pxrgb(234, 211, 215), 0 0 50px rgb(234, 211, 215), 0 0 100px rgb(234, 211, 215), 0 0 200px rgb(234, 211, 215);
}

*/

button .door{
    position: fixed;
    display: flex;
    padding: 0px;
    border: 0px;
    width: 135.15px;
    height: 268.033px;
    top: 335px;
    left: 1100px;
    box-shadow: 0 0 5px whitesmoke, 0 0 25px whitesmoke;
    animation: bounce 1s infinite alternate;
}

@keyframes bounce {
    to { transform: scale(1.02); }
}

button .door img {
    transform: translate(-9%, -6%);
    margin-right: 50px;
    padding: 0px;
    border: rgb(255, 255, 255) solid 2px;
    width: 187.95px;
    height: 216.3px;
}

button .laptop{
    position: fixed;
    top: 395px;
    left: 364px;
    display: flex;
    width: 128.7px;
    height: 92.4px;
    border: white solid 2px;
    box-shadow: 0 0 5px whitesmoke, 0 0 25px whitesmoke;
    animation: bounce 1s infinite alternate;
}

@keyframes bounce {
  to { transform: scale(1.05); }
}


button .laptop img {
    transform: translate(-9%, -6%);
    margin-right: 50px;
    padding: 0px;
    border: black solid 2px;
    width: 128.7px;
    height: 92.4px;
}

#imageTrackProject,  
#imageTrackProject img
{
   display:none;
}

#imageTrackProject .imageProject {
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 50%;
    width: 45vmin;
    height: 45vmin;
    object-fit: cover;
    object-position: center;
    box-shadow: 0 0 5px whitesmoke, 0 0 25px whitesmoke;
    /*box-shadow: 0 0 10px whitesmoke, 0 0 35px whitesmoke;*/
}

/*
.image{
    box-shadow: 0 0 10px whitesmoke, 0 0 15px whitesmoke;
}
*/

#imageTrackProject{
    display: flex;
    gap: 3vmin;
    margin-left: 30px;
    margin-top: 10px;
    margin-right: 30px;
}